* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

/* Header and Navigation */
header {
    top: 0;
    background-color: #343a40;
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
   
}

.logo h1 {
    font-size: 24px;
}

nav {
  
    font-weight: bold;
    flex-grow: 1; /* Make the nav grow to take remaining space */
    text-align: center;
}

nav ul {
    justify-content: center;
    list-style: none;
    display:flex;
    position:relative;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    
    color: black;
    text-decoration: blueviolet;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Dropdown menu */
nav ul .dropdown:hover .dropdown-menu {
    display: block;
}

nav ul .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343a40;
    padding: 10px;
    list-style: none;
    width: 180px;
}

nav ul .dropdown-menu li {
    margin: 10px 0;
}

nav ul .dropdown-menu li a {
    color: 343a40;
    text-decoration: none;
    font-size: 16px;
}

nav ul .dropdown-menu li a:hover {
    text-decoration: underline;
}

.sessionname{
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    border: 2px solid #000; /* Black border, you can change the color */
    border-radius: 50%;
    display: inline-block;
    color: aqua;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;

}

/* Burger icon */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}


html, body {
    height: 100%;
    margin: 0;
}



@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    .burger {
        display: block;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #0288d1;
        padding: 20px;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul .dropdown-menu {
        position: sticky;
    }
}
